
<div class="row justify-content-center align-items-center vh-100 ">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary border-0 mb-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Forgot password</small></div>
          <div class="btn-wrapper text-center">
            <img class="w-50" src="/Logo.png" alt="...">
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
            <% if(message.success) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span class="alert-text"><strong>Success!</strong> <%= message.success[0] %></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <% if(message.error) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-text"><strong>Error!</strong> <%= message.error[0] %></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <div class="text-center text-muted mb-4">
                <small>Enter your valid email, to receive the reset password link</small>
            </div>
          <form action="#" method="post">
            <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" name="email" id="email">
              </div>
              <small id="inputError" class="form-text text-danger email_error"></small>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="login" class="text-light"><small>Back to login</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="/register" class="text-light"><small>Create new account</small></a>
        </div>
      </div>
    </div>
  </div>